body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.orange {
    color: orange;
}



section {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 10%;
}

.half {
    height: 250px;
    width: 250px;
}

#jus {
    text-align: justify;
    padding-left: 10px;
}

.link-button {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700px;
    text-decoration: solid;
}

img {
    height: 360px;
    width: 350px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.align {
    padding: 10px;
}