body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.orange {
    color: orange;
}



.flexible-container {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 10%;
}

.half {
    height: 250px;
    width: 250px;
}

#jus {
    text-align: justify;
    padding-left: 10px;
}

.link-button {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700px;
    text-decoration: solid;
}

img {
    height: 360px;
    width: 350px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.align {
    padding: 10px;
}

.big {
    text-align: left;
    width: 60%;
}

.or {
    width: 40%;
    padding-left: 10px;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box {
    box-shadow: 10px 10px 40px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-top: 15px;
    border-radius: 10px;
}

.exp {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.box {

    border-left: 5px solid blue;
}

#box-color {
    border-left: 5px solid yellow;
}

footer p {
    text-align: center;
}